# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# React & Electron Build Outputs
  dist-react/
  dist-electron/
  out/
  release/

  # Environment Variables (Contains sensitive secrets/API URLs)
  .env
  .env.local
  .env.development.local
  .env.production.local
  .env.test.local

  # OS system files (Windows/macOS temp files)
  Thumbs.db
  desktop.ini
  .DS_Store
